<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">Games CRUD App</div>
            <ul>
                <li>
                    <a href="~/Hobbies/Index">Home</a>
                </li>
            </ul>
        </div>
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
